.body {
  padding-top: 70px;
  padding-left: 270px;
}

.content{
  margin-left: 80px;
}

@media screen and (max-width: 600px) {
  .menuIcon, .crossIcon{
    position: fixed;
    right: 0px;
    cursor: pointer;
    z-index: 400;
    visibility: visible;
  }
  .content{
    margin-left: 10px;
  }
  .body {
    padding-top: 100px;
    padding-left: 10px;
  }
}