.shipment {
  background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-top: 40px;
  height: 80vh;
}
/* // 16, 16, 18, 24 */

.name{
font-size: 64px;
font-weight: 400;
line-height: 74px;
color: rgba(255, 255, 255, 1);
margin: 0;
}

.email, .cargoBoxes, .info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(151, 151, 151, 1);
}

.cargoBoxesInput {
  width: 300px;
  height: 40px; 
  border-radius: 15px;
  font-size: 15px;
  padding: 0 20px;
}

.cargoBoxesContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.cargoBoxesInput:focus {
  outline: none;
}

.requiredBaysContainer{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.requiredBaysTitle{
  color: rgba(151, 151, 151, 1);
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
}

.requiredBaysAmount{
font-size: 56px;
font-weight: 400;
line-height: 66px;
color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 750px) {
.name {
  font-size: 28px;
line-height: 38px;
}
.requiredBaysTitle{
  font-size: 18px;
}

.requiredBaysAmount{
  font-size: 24px;
  }
  
}